table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid black;
    width: auto;
    text-align: left;
}